@page
@using Web_App.Pages.Shared
@model Web_App.Pages.Account.ConfirmEmail

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confirm Email Address</title>
</head>
<body>
<div>
    @Model.Message
</div>
</body>
</html>