@page
@model Learn_Asp_Net_Identity.Pages.HRManagerModel
@{
}
<div>HR Manager page</div>
<ul>
    @foreach (var item in Model.WeatherForecastDtos)
    {
        <li>@item.Date.ToLongDateString() - @item.Summary</li>
    }
</ul>
