@page
@model Learn_Asp_Net_Identity.Pages.HumanResourcePageModel
@{}

<div class="text-center">
    <h1 class="display-4">Welcome to the depatments</h1>
    <p>If you are seeing this page this means you have the departments policy in your account.</a>.</p>
</div>

